.App {
  text-align: center;
}

.app_product{
  margin-top: 5px;
  float: left;
  width: 25%;
  padding-right: 1px;
  height: 100vh;
  box-shadow: -3px 0px 20px -5px rgb(0, 0, 0);
}

.app_table{
  margin-top: 4px;
  float: left;
  width: 75%;
  padding-left: 5px;
  height: 100vh;
  border: 1px solid beige;
  /* box-shadow: -5px 0px 20px -5px rgb(0, 0, 0); */
}